*,
*::before,
*::after{
    box-sizing: border-box;
}

@font-face {
    font-family: 'sf-pro-display';
    src: url('../fonts/SF-Pro-Display-Regular.woff2') format('woff2'),
    url('../fonts/SF-Pro-Display-Regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: 'sf-pro-display';
    src: url('../fonts/SF-Pro-Display-Bold.woff2') format('woff2'),
    url('../fonts/SF-Pro-Display-Bold.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: 'spaceagecyrillic';
    src: url('../fonts/spaceagecyrillic-regular.woff2') format('woff2'),
    url('../fonts/spaceagecyrillic-regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}
a{
    color: inherit;
    text-decoration: none;
}
button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: inherit;
}
body{
    color: #FFFFFF;
    font-family: 'sf-pro-display';
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
}
.header{
    background-image:  linear-gradient(0deg, #010203 0%, rgba(1, 2, 3, 0) 100%) , url("../images/header-bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;

}
.about{
    background-image:linear-gradient(180deg, #010203 8.85%, rgba(1, 2, 3, 0) 86.98%), url("../images/about-bg.svg");
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
}
.how-to{
    background-image:linear-gradient(0deg, #010203 0%, rgba(1, 2, 3, 0) 100%), url("../images/howto-bg.svg");
    background-position:  center ;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 100px;
    padding-top: 100px;
}
.to-book{
    background-image: url("../images/to-book-bg.svg");
    background-repeat: no-repeat;
    background-position:  center;
    background-size: cover;
    padding: 100px 10px 641px 10px;
}
.info{
    background-image:linear-gradient(0deg, #010203 0%, rgba(1, 2, 3, 0) 84.9%), url("../images/info-bg.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 0;
}
.container{
    max-width: 1220px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;

}
.title{
    font-family: 'spaceagecyrillic';
    padding-bottom: 100px;
    font-size: 48px;
    line-height: 48px;
    font-weight: 400;
}
.button{
    text-transform: uppercase;
    border: 1px solid #FFFFFF;
    font-size: 18px;
    line-height: 21px;
    padding: 20px 45px;
}
.header_inner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
.header_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 75px 0 30px;
}
.menu_list{
    display: flex;
}
.menu_item{
    margin-right: 30px;
}
.menu_link{
    text-transform: uppercase;
    font-size: 18px;
    line-height: 21px;
    transition: color .5s;
}
.menu_link:hover{
    color: #CB0E0E;
}
.phone{
    font-size: 24px;
    line-height: 29px;
    margin-left: 134px;
    margin-right: 0;
}
.login{
margin-right: 200px;
}
.header_content{
    max-width: 600px;
}
.header_title{
    font-family: 'spaceagecyrillic';
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    margin-bottom: 20px;
}
.header_title span{
    font-size: 110px;
}
.header_text{
    font-size: 24px;
    line-height: 29px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
.header_btn{
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    border: 1px solid #FFFFFF;
    padding: 15px 10px 16px;
    font-family: 'sf-pro-display';
}
.header_description{
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
    margin-bottom: 5%;
}
.header_description-text{
    width: 165px;
    font-size: 14px;
    line-height: 17px;
}
.header_description-text + .header_description-text{
    margin-left: 52px;
}
.about_item{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 150px;
}
.about_item:nth-child(odd){
    flex-direction: row-reverse;
}
.about_img{
    max-width: 100%;
}
.about_content{
    width: 600px;
}
.about_content-title{
    font-family: 'sf-pro-display';
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    margin-bottom: 5px;
}
.about_content-subtitle{
    font-family: 'sf-pro-display';
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    color: #036CCA;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.about_content-text{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.about_content-text p{
    width: 165px;
}
.about_table{
  margin-bottom: 50px;
}
.about_table-tr{
    border: 1px solid #FFFFFF;
    border-left: none;
    border-right: none;
}
.about_table-tr+ .about_table-tr{
    font-size: 36px;
    line-height: 43px;
    font-weight:bold;
    text-align: center;
}
.about_table-td{
    padding: 10px 25px 10px 0;
}
.about_table-td span{
    font-size: 14px;
    line-height: 17px;
    display: block;
}
.about_table-caption{
    caption-side: bottom;
    text-align: left;
    margin-top: 20px;
}
.how-to_box{
    text-align: center;
}
.how-to_box circle,
.how-to_box text,
.how-to_box foreignObject p{
    transition: all .5s;
    cursor: pointer;
    font-size: 18px;
}
.how-to_box  g:hover circle{
    r: 20px;
    fill: #036CCA;
}
.how-to_box g:hover text{
    fill: #036CCA;
    font-size: 30px;
}
.how-to_box g:hover foreignObject>p {
    color:  #036CCA;
    font-size: 22px;
}
foreignObject{
    text-align: left;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
}
.to-book_inner{
    display: flex;
    justify-content: space-between;
}
.to-book_text{
    width: 165px;
    font-size: 14px;
    line-height: 17px;
    margin-left: auto;
    margin-right: 53px;
}
.to-book_text+ .to-book_text{
    margin: 0;
}
.special-offer_inner{
    display: flex;
    justify-content: space-between;
}
.special-offer_item{
    width: 500px;
   }
.special-offer_item-box{
    border: 1px solid #FFFFFF;
    padding: 40px 75px;
    margin-bottom: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 400px;
}
.special-offer_item-text {
    font-size: 24px;
    line-height: 27px;
    width: 240px;
    margin: 0 auto;
}
.special-offer_item-text span{
    color: #CB0E0E;
}
.special-offer_item-oldPrice{
    text-align: right;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 16px;
    position: relative;
}
.special-offer_item-oldPrice::before{
    content: '';
    width: 70px;
    height: 1px;
    background-color: #CB0E0E;
    position: absolute;
    top: 8px;
    left: 278px;
    transform: rotate(15deg);
}
.special-offer_item-newPrice{
    font-size: 48px;
    line-height: 57px;
}
.special-offer_btn{
    width: 100%;
    margin-bottom: 142px;
}
.services{
    padding-bottom: 200px;
}
.services_inner{
    display: flex;
    justify-content: space-between;
}
.services_box-list{
    width: 620px;
    margin-right: 80px;
    font-size: 24px;
    line-height: 29px;
}
.services_list-title{
    padding-bottom: 25px;
}
.services_list{
    list-style: none;
}
.services_list-item{
    padding-left: 30px;
    position: relative;
}
.services_list-item:before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FFFFFF;
    top: 5px;
    left: 0;
}
.services_description{
    padding-top:25px ;
    font-size: 12px;
    line-height: 21px;
}
.services_buttons{
    width: 500px;
}
.services_btn{
    width: 100%;
}
.services_btn:first-child{
    margin-bottom: 49px;
    position: relative;
}
.services_btn:first-child:after{
    content: url("../images/photograph.svg");
    position: absolute;
    bottom: 36px;
    right: 0;
}