*,
*::before,
*::after{
    box-sizing: border-box;
}

@font-face {
    font-family: 'sf-pro-display';
    src: url('../fonts/SF-Pro-Display-Regular.woff2') format('woff2'),
    url('../fonts/SF-Pro-Display-Regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: 'sf-pro-display';
    src: url('../fonts/SF-Pro-Display-Bold.woff2') format('woff2'),
    url('../fonts/SF-Pro-Display-Bold.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: 'spaceagecyrillic';
    src: url('../fonts/spaceagecyrillic-regular.woff2') format('woff2'),
    url('../fonts/spaceagecyrillic-regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}
a{
    color: inherit;
    text-decoration: none;
}
button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: inherit;
}
body{
    color: #FFFFFF;
    font-family: 'sf-pro-display';
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
}
.container{
    max-width: 1220px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;

}
.title{
    font-family: 'spaceagecyrillic';
    padding: 100px 0;
    font-size: 48px;
    line-height: 48px;
    font-weight: 400;
}
.button{
    text-transform: uppercase;
    border: 1px solid #FFFFFF;
    font-size: 18px;
    line-height: 21px;
    padding: 20px 45px;
}
.header{
    background-image: url("../images/header-bg.jpg");
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header_inner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
.header_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 75px 0 30px;
}
.menu_list{
    display: flex;
}
.menu_item{
    margin-right: 30px;
}
.menu_link{
    text-transform: uppercase;
    font-size: 18px;
    line-height: 21px;
    transition: color .5s;
}
.menu_link:hover{
    color: #CB0E0E;
}
.phone{
    font-size: 24px;
    line-height: 29px;
    margin-left: 134px;
    margin-right: 0;
}
.login{
margin-right: 200px;
}
.header_content{
    max-width: 600px;
}
.header_title{
    font-family: 'spaceagecyrillic';
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    margin-bottom: 20px;
}
.header_title span{
    font-size: 110px;
}
.header_text{
    font-size: 24px;
    line-height: 29px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
.header_btn{
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    border: 1px solid #FFFFFF;
    padding: 15px 10px 16px;
    font-family: 'sf-pro-display';
}
.header_description{
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
    margin-bottom: 5%;
}
.header_description-text{
    width: 165px;
    font-size: 14px;
    line-height: 17px;
}
.header_description-text + .header_description-text{
    margin-left: 52px;
}
.about{
    background-image: url("../images/about-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
}
.about_item{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 150px;
}
.about_item:nth-child(odd){
    flex-direction: row-reverse;
}
.about_img{
    max-width: 100%;
}
.about_content{
    width: 600px;
}
.about_content-title{
    font-family: 'sf-pro-display';
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    margin-bottom: 5px;
}
.about_content-subtitle{
    font-family: 'sf-pro-display';
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    color: #036CCA;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.about_content-text{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.about_content-text p{
    width: 165px;
}
.about_table{
  margin-bottom: 50px;
}
.about_table-tr{
    border: 1px solid #FFFFFF;
    border-left: none;
    border-right: none;
}
.about_table-tr+ .about_table-tr{
    font-size: 36px;
    line-height: 43px;
    font-weight:bold;
    text-align: center;
}
.about_table-td{
    padding: 10px 25px 10px 0;
}
.about_table-td span{
    font-size: 14px;
    line-height: 17px;
    display: block;
}
.about_table-caption{
    caption-side: bottom;
    text-align: left;
    margin-top: 20px;
}
.how-to{
    background-image: url("../images/howto-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:  center;
    padding-bottom: 100px;
}